<!DOCTYPE html>
<html lang="es" dir="ltr">

<head>
<link th:href="@{/css/bootstrap.css}" rel="stylesheet"
	href="../../../static/css/bootstrap.css" />

<script th:src="@{/js/jquery.js}" src="../../../static/js/jquery.js"></script>
<script th:src="@{/js/bootstrap.js}"
	src="../../../static/js/bootstrap.js"></script>
<style>
</style>
<meta charset="utf-8">
<title>Carga MM</title>
</head>
<body>
	<div class="container">
		<div class="row justify-content-md-center" id="body">
			<div class="jumbotron">
				<h1 class="display-4">Éxito</h1>
				<p class="lead">La operación se realizó con éxito.</p>
				<hr class="my-4">
				<a class="btn btn-secondary btn-lg" href="#" role="button">Volver
					a Inicio</a>
				<a th:href="@{/home/ccig/mm/cargarmm}" class="btn btn-primary btn-lg" href="#" role="button">Cargar
					otro MM</a>

			</div>
		</div>
	</div>
	</div>
</body>